{% extends 'base.html' %}

{% block content %}
<style>
    .container.mt-4{
        margin: auto;
        margin-top: 0 !important;
    }
.container-with-sidebar {
    display: flex;
    min-height: 80vh;
}

/* Sidebar styles */
.sidebar {
    width: 250px;
    background-color: #343a40;
    color: white;
    padding: 1em;
    overflow-y: auto;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li {
    margin: 1em 0;
}

.sidebar-menu a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.sidebar-menu a:hover {
    background-color: #495057;
}

/* Main content area */
.main-content {
    flex-grow: 1;
    background-color: #f4f4f4;
    min-height: 85%;
}
</style>
<div class="container-with-sidebar" style="display: flex;">
    <!-- Sidebar -->
    <div class="sidebar">
        <ul class="sidebar-menu">
            <li><a href="{% url 'arcade_cashier'%}">Cashier</a></li>
            <li><a href="#">Sales</a></li>
            <li><a href="{% url 'inventory_list' %}">Inventory</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        {% block main_content %}
        <!-- This block is for the main content of pages that extend this template -->
        {% endblock main_content %}
    </div>
</div>
{% endblock %}
