<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/arcade/styles.css' %}"></head>
<body>
    <div>
        <h2>Register Staff</h2>
        <form method="post">
            {% csrf_token %}
            <h3>User Details</h3>
            {{ form.user_form.as_p }}
        
            <h3>Staff Profile</h3>
            {{ form.profile_form.as_p }}
        
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</body>
</html>
